* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f2f2f2;  
    margin: 0;
    padding: 0;
}

.content-Center {
    width: 100%;
    max-width: 400px; 
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 15px;
}

.content-Center .text-center {
    text-align: center;
}

.content-Center img {
    width: 70%;
    margin-bottom: 20px;
}

.content-Center form {
    margin: 20px 0;
}

.content-Center input,
.content-Center button {
    width: 100%;
    padding: 10px 5px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.content-Center button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
}

.content-Center button:hover {
    background-color: #0d410f;
    cursor: pointer;
}

header h1 {
    font-size: 2.5em;
    text-align: center;
    margin: 50px auto;
}

footer {
    font-size: 0.8em;
    text-align: center;
    margin-top: 50px;
}


@media (max-width: 768px) {
    header h1 {
        font-size: 2em;
    }

    .content-Center {
        max-width: 90%; 
        padding: 15px;
    }

    .content-Center img {
        width: 50%; 
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 1.5em; 
    }

    .content-Center {
        max-width: 95%;
        padding: 10px;
    }

    .content-Center input,
    .content-Center button {
        padding: 12px 5px; 
    }

    .content-Center img {
        width: 40%; 
    }
}
